.theme-dark,
:root {
  --background-primary: #1e1f26 !important;
  --background-secondary: #283655 !important;
  --background-tertiary: #1e1f26 !important;
}

/* DMs list */
.layout-2DM8Md {
  border-radius: 20px !important;
}

/* Unread pill */
.item-2hkk8m {
  height: 10px !important;
  width: 12px !important;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.container-2Pjhx- {
  background-color: #03153666;
  border-radius: 20px !important;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Message with ping */
.mentioned-xhSam7 {
  background-color: #222733;
}

/* Edited message, unread pill */
.edited-3sfAzf,
.unreadPillCap-3_K2q2 {
  visibility: hidden;
  position: relative;
}

/* Edited message */
.edited-3sfAzf::after {
  font-size: 20px !important;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "✎";
  margin-left: 20px;
  margin-top: -4px;
}

/* Message on hover */
.message-2qnXI6:hover {
  background-color: #161c2780;
}

.unreadPillCap-3_K2q2::after {
  visibility: visible;
  position: absolute;
  content: "";
}

/* Typing area */
.scrollableContainer-2NUZem {
  background-color: #3c3c64 !important;
}

/* Placeholder indicator (Message #channel) */
.placeholder-37qJjk {
  color: #cecece;
}

/* Code, Spoiler text */
code,
.inlineCode-2ngu6Y,
.syntaxAfter-hcA4AH.after_inlineCode-1KfVgj,
.syntaxBefore-1YQ9lW.before_inlineCode-1G9rTK {
  background-color: #d0e1f9 !important;
  color: #283655 !important;
}

.spoilerText-3p6IlD.hidden-HHr2R9 {
  background-color: #d0e1f9 !important;
}

/* User Profile */
.container-3baos1 {
  background-color: #4d648d !important;
}

/* Status, Buttons */
.subtext-3CDbHg,
.button-14-BFJ {
  color: #ffffff !important;
}

/* DM Search Bar */
.searchBarComponent-32dTOx {
  background-color: #4d648d !important;
  color: #ffffff !important;
}

/* Friends List */
.peopleList-3c4jOR {
  background-color: #28365570;
}
